<h1>hello world</h1>

<!-- make sure you set multpart form data -->
<form action="/sign_up" enctype="multipart/form-data" method="post">
  <label for="">avatar</label>
  <input name="avatar" type="file">
  <button>signup</button>
</form>